body{
    background-color: #7f8081;
    display: flex;
    justify-content: center;
}

.boxluar {
    background-color: white; 
    height: 300px; 
    width: 900px; 
}

.boxdalam {
    margin-left: 50px;
    width: 350px
}

h3{
    padding-left: 10px;
    color: #0087FF;
    font-family: Arial;
}

p{
    padding-left: 10px;
    font-family: Arial;
}